.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1{
  text-align: center;
  color: hotpink;
}
p{
  text-align: center;
  color: white;
  background: green;
  width: 400px;
  border: 1px solid red;
  padding: 4px;
  float: left;
}
.p1{
  float: left;
}
.p2{
  float: left;
}
.p3{
  float: left;
}
.b1{
  position: absolute;
  top: 400px;
  font-size: 20px;
}
.b2{
  position: absolute;
  top: 400px;
  font-size: 20px;
  right: 220px;
}
.a{
  text-align: center;
  margin-top: 20px;
  color: aqua;
  padding: 5px;
}
.b{
  height: 400px;
  width: 400px;
  background: #61dafb;
}
.d{
  position: absolute;
  left: 800px;
  font-size: large;
  font-family: cursive;

}
.e{
  position: absolute;
  left: 400px;
  font-size: large;
  font-family: cursive;
}
.card1{

}
.card1:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 24);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 
}
